name: Deploy Nginx-app

on:
  push:
    branches:
      - "**"
    tags:
      - "v*.*.*"

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    outputs:
      TAG: ${{ steps.vars.outputs.TAG }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Yandex Cloud CLI and login
        shell: bash
        run: |
          curl -sSL https://storage.yandexcloud.net/yandexcloud-yc/install.sh | bash
          export PATH="$HOME/yandex-cloud/bin:$PATH"

      - name: Build and push Docker image
        shell: bash
        run: |
          export PATH="$HOME/yandex-cloud/bin:$PATH"

          IMAGE="cr.yandex/crp4j5bli6ctb3qlf1kr/nginx-app"
          TAG="${GITHUB_REF##*/}"

          git clone https://github.com/RuslanArestov/Nginx-app.git app
          cd app
          docker build -t $IMAGE .

          cat > key.json <<EOF
          ${{ secrets.YANDEX_CONTAINER_REGISTRY_AUTH }}
          EOF
          $HOME/yandex-cloud/bin/yc config set service-account-key key.json
          $HOME/yandex-cloud/bin/yc container registry configure-docker

          docker tag $IMAGE $IMAGE:$TAG
          docker push $IMAGE
          docker push $IMAGE:$TAG

      - name: Save tag
        id: vars
        run: echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_OUTPUT

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure kubeconfig
        shell: bash
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

      - name: Setup SSH tunnel to Bastion
        run: |
          echo "${{ secrets.BASTION_KEY }}" > /tmp/bastion_key
          chmod 600 /tmp/bastion_key
      
          ssh -fN -i /tmp/bastion_key -o StrictHostKeyChecking=no -L 6443:10.0.1.30:6443 user_admin@158.160.38.96
          sleep 10
  
      - name: Update Deployment in K8s
        shell: bash
        run: |
          export PATH="$HOME/yandex-cloud/bin:$PATH"
          IMAGE="cr.yandex/crp4j5bli6ctb3qlf1kr/nginx-app"
          kubectl set image deployment/nginx-app \
            nginx-app=$IMAGE:${{ needs.build_and_push.outputs.TAG }} \
            -n app
